<!-- Loading overlay section starts -->
<div *ngIf="overlayDisplay" class="overlay">
	<h1>Loading</h1>
</div>
<!-- Loading overlay section starts -->

<!-- header section starts -->
<header>
	<div class="header__container">
		<h1>Chat bots 2.0</h1>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" href="#" (click)="logout()">Logout</a>
			</li>
		</ul>
	</div>
	
</header>


<!-- header section ends -->

<main role="main" class="wrapper"  *ngIf="!overlayDisplay">
	<section class="wrapper__container">
		<div id="main__container" class="main__container">
			<div class="col-9">
				<app-conversation></app-conversation>
			</div>
			<div class="col-3">
				<app-chat-list></app-chat-list>
			</div>
		</div>
	</section>
</main>